<script type="module">
    import htmel from "../src/htmel.js"

    window.state = {
        a: 2
    }

    let element = htmel(state)`
<div>
${() => htmel(state)`
    ${() => {
        console.log("renderrrr");
        return state.a
    }}
`}
</div>
`;

    // element is a regular html element
    document.body.appendChild(element);
</script>
